@import url('https://fonts.googleapis.com/css2?700&family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;  
}

:root{
    --blue: #3498bd;
    --gray:#e0e0e0;

}

body{
    background-color: #f6f7fb;
    height: 100vh;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    /* must add content property when user ::before */
    content: '';
    background-color: var(--gray); 
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
 }

.progress{
   background-color: var(--blue); 
   position:absolute;
   top:50%;
   left:0;
   transform: translateY(-50%);
   height: 4px;
   width: 0%;
   z-index: -1;
   transition: .4 ease;
}

.circle{
    background-color: white;
    color: #999;
    height: 2rem;
    width: 2rem;
    border: 3px solid #e0e0e0;
    /* use percent to create circular border */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4 ease;
}

.circle.active{
    border-color: var(--blue);
}

.btn {
    background-color: var(--blue);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    font-size:14px;
}

.btn:active{
    transform: scale(.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--gray);
    cursor: not-allowed;
}